---
// src/components/BaseLayout.astro
import '../tailwind.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMAC-DOCS</title>
    <link rel="icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body class="bg-black overflow-hidden">
    <slot></slot>
</body>
</html>
