---
import LightImage from '../../assets/logoEcomac.png.png'
// import DarkImage from '../../assets/logoecomacdark.png'
---

<!-- <div class="w-120 absolute top-40 right-12 ">
    <img src={LightImage.src} alt="Ecomac Logo" class="dark:block hidden w-full h-auto" />
</div> -->
